.sidebar{
  flex: 0.2;
  margin-left: 70px
}

.sidebar > h3{
  color: #4e4e4e;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-left: 7px;
  margin-top: 10px;
  margin-bottom: 10px
}

@media(max-width:600px){
  .sidebar{
    display: none
  }
}